{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidate Dashboard</title>
</head>
<body>
    <h2>Candidate Dashboard</h2>


                <!-- Candidate Profile picture and bio    -->
    <div class="profile">
        <img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}{% static 'images/Blank profile picture.png' %}{% endif %}" alt="Profile Picture">
        <h2>{{ profile.user.username }}</h2>
        <p>{{ profile.bio }}</p>
    </div>
    


                    <!-- Candidate CV    -->
    {% if cv %}
        <h3>Your CV</h3>
        <p><strong>Education:</strong>{{ cv.education }}</p>
        <p><strong>Experience:</strong>{{ cv.experience }}</p>



                        <!-- Edit CV Button    -->
        <button>
            <a href="{% url 'edit_cv' %}">Edit CV</a>
        </button>


    {% else %}

        <p>No CV found. Please add your CV.</p>
        <button>
            <a href="{% url 'edit_cv' %}">Create CV</a>
        </button>

    {% endif %}


                    <!-- Logout Button    -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
