{% extends 'base.html' %}

 {% block title %} {{ profile.user.first_name }} {{ profile.user.last_name }}'s CV {% endblock %}

{% load static %}

{% block content %}


                <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid justify-content-end">

            <button class="btn btn-outline-success me-2" type="button">
                <a href="{% url 'candidate_dashboard' %}" style="text-decoration: none; color: inherit;">Back to Dashboard</a>
            </button>

            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-success me-2" type="submit">Logout</button>
            </form>
            
        </div>
        </nav>

        {% if show_messages %}
        {% if messages %}
            <div class="container mt-3" style="padding-top: 60px;">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}

    <div class="container my-4" style="padding-top: 80px;">
        <div class="shadow p-4 mb-5 bg-body rounded">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <!-- Profile Section -->
                <div class="row g-3 align-items-center" style="margin-top: 30px;">
                    <div class="form-control">
                        <h2 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">Profile</h2>
                        <div>
                            <!-- Profile Image -->
                            <a href="{{ profile.profile_picture.url }}">
                                <img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}{% static 'images/Blank profile picture.png' %}{% endif %}" 
                                    alt="Profile Picture" style="width: 150px; height: 150px; display: block;">
                            </a>
                            
                            <!-- File Input for changing profile picture -->
                            <input type="file" name="profile_picture" id="profile_picture" style="display: block; margin-top: 10px; margin-bottom: 20px;">
                        </div>
                        
                        
                        
                        
                        <div class="row g-3 align-items-center">
                            <div class="form-group">
                                <h2 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 20px; color: hwb(212 7% 56%);">Profile Information</h2>
                        
                                <!-- First Name -->
                                <div class="form-group">
                                    <label for="{{ profile_form.first_name.id_for_label }}" style="font-family: DM Sans, sans-serif; font-size: 20px; font-weight: 200;" aria-placeholder="First Name">First Name</label>
                                    {{ profile_form.first_name }}
                                </div>
                        
                                <!-- Last Name -->
                                <div class="form-group">
                                    <label for="{{ profile_form.last_name.id_for_label }}" style="font-family: DM Sans, sans-serif; font-size: 20px; font-weight: 200;" aria-placeholder="Last Name">Last Name</label>
                                    {{ profile_form.last_name }}
                                </div>
                        
                                <!-- Email -->
                                <div class="form-group">
                                    <label for="{{ profile_form.email.id_for_label }}" style="font-family: DM Sans, sans-serif; font-size: 20px; font-weight: 200;">Email</label>
                                    {{ profile_form.email }}
                                </div>

                                <!--Career Field-->
                                <div class="form-group">
                                    <label for="{{ career_form.field.id_for_label }}" style="font-family: DM Sans, sans-serif; font-size: 20px; font-weight: 200;">Career</label>
                                    {{ career_field_form.field }}
                                </div>

                                <div class="form-group">
                                    <labe for="{{ career_form.field.id_for_label }}" style="font-family: DM Sans, sans-serif; font-size: 20px; font-weight: 200;">Experience(Years)</label>
                                        {{ career_field_form.experience_in_years }}
                                </div>
                        
                                <!-- Bio -->
                                <div class="form-group">
                                    <label for="{{ profile_form.bio.id_for_label }}" style="font-family: DM Sans, sans-serif; font-size: 20px; font-weight: 200;" aria-placeholder="Tell the world about yourself (keep it professional)">Bio</label>
                                    {{ profile_form.bio }}
                                </div>
                        
                                <!-- Display errors if there are any -->
                                {% if profile_form.errors %}
                                    <div class="errors">
                                        <h2 >Profile Form Errors:</h2>
                                        {{ profile_form.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                


                                <!-- Contact Section -->
                <div class="row g-3 align-items-center" style="margin-top: 30px;">
                    <div class="form-control">
                        <h2 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">Contact</h2>
                        {{ contact_info_form.as_p }}
                        {% if contact_info_form.errors %}
                            <div class="errors">
                                <h2>Contact Form Errors:</h2>
                                {{ contact_info_form.errors.as_ul }}
                            </div>
                        {% endif %}
                </div>
                </div>


                                <!-- Work Experience Section -->

                {{ work_experience_formset.management_form }}
                <div class="row g-3 align-items-center" style="margin-top: 40px;">
                    <div class="form-control" id="work-experience-container">
                        <h1 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">Work Experience</h1>
            
                        {% for form in work_experience_formset %}
                            <div class="form-control experience-formset-row" style="margin-bottom: 20px; margin-bottom: 20px;">
                                
                                <p>{{ form.id }}</p>
                                <p>Position{{ form.position }}</p>
                                <p>Company{{ form.company }}</p>  
                                <p>Start Date {{ form.start_date }}</p>
                                <p>End Date {{ form.end_date }}</p>
                                <p>Description {{ form.description }}</p>

                                <div class="remove-work-experience" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(0 10% 0%);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </div>
                                

                                <!-- Hidden delete checkbox (separately rendered) -->
                                {% if work_experience_formset.can_delete %}
                                    <div style="display:none;">
                                        {{ form.DELETE }}
                                    </div>
                                {% endif %}

                                <!-- Display formset errors here -->
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                            </div>
                            
                        {% endfor %}

                        <!-- Add Form -->
                        <div id="add-work-experience" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(119 14% 42%);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                            </svg>
                            <span style="margin-left: 8px; font-family: Nunito, sans-serif; font-size: 16px; color:black">Add Work Experience</span>
                        </div>

  
                    </div>
                </div>
                




                                <!-- Education Section -->
                {{ education_formset.management_form }}

                <div class="row g-3 align-items-center" style="margin-top: 40px;">
                    <div class="form-control" id="education-container">
                        <h1 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">Education</h1>
            
                        {% for form in education_formset %}
                            <div class="form-control education-formset-row" style="margin-bottom: 20px; margin-bottom: 20px;">
                                
                                <p>{{ form.id }}</p>
                                <p>Institution{{ form.institution }}</p>
                                <p>Qualification{{ form.qualification }}</p>
                                <p>Start Date{{ form.start_date }}</p>
                                <p>End Date{{ form.end_date }}</p>

                                <div class="remove-education" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(0 10% 0%);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </div>
                                

                                <!-- Hidden delete checkbox (separately rendered) -->
                                {% if education_formset.can_delete %}
                                    <div style="display:none;">
                                        {{ form.DELETE }}
                                    </div>
                                {% endif %}

                                <!-- Display formset errors here -->
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <!-- Add Form Icon -->
                        <div id="add-education" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(119 14% 42%);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                            </svg>
                            <span style="margin-left: 8px; font-family: Nunito, sans-serif; font-size: 16px; color:black">Add Education</span>
                        </div>
                    </div>
                </div>
                



                                <!-- Projects Section -->
                {{ project_formset.management_form }}

                <div class="row g-3 align-items-center" style="margin-top: 40px;">
                    <div class="form-control" id="project-container">
                        <h1 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">Projects</h1>

                            {% for form in project_formset %}
                                <div class="form-control project-formset-row" style="margin-bottom: 20px; margin-bottom: 20px;">
                                    
                                    <p>{{ form.id }}</p>
                                    <p>Name{{ form.name }}</p>
                                    <p>Link{{ form.link }}</p>
                                    <p>Description{{ form.description }}</p>

                                    <div class="remove-project" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(0 10% 0%);">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                        </svg>
                                    </div>

                                    <!-- Hidden delete checkbox (separately rendered) -->
                                    {% if project_formset.can_delete %}
                                        <div style="display:none;">
                                            {{ form.DELETE }}
                                        </div>
                                    {% endif %}

                                    <!-- Display formset errors here -->
                                    {% if form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {{ form.non_field_errors }}
                                        </div>
                                    {% endif %}

                                </div>
                            {% endfor %}

                            <!-- Add Form Icon -->
                            <div id="add-project" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(119 14% 42%);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                </svg>
                                <span style="margin-left: 8px; font-family: Nunito, sans-serif; font-size: 16px; color:black">Add Project</span>
                            </div>

                    </div>
                </div>
                


                                <!-- Skills Section -->
                {{ skills_formset.management_form }}

                <div class="row g-3 align-items-center" style="margin-top: 40px;">
                    <div class="form-control" id="skills-container">
                        <h1 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">Skills</h1>
            
                        {% for form in skills_formset %}
                            <div class="form-control skills-formset-row" style="margin-bottom: 20px; margin-bottom: 20px;">
                                <p>{{ form.id }}</p>
                                <p>Skill{{ form.skill }}</p>

                                <div class="remove-skill" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(0 10% 0%);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </div>
                                

                                <!-- Hidden delete checkbox (separately rendered) -->
                                {% if skills_formset.can_delete %}
                                    <div style="display:none;">
                                        {{ form.DELETE }}
                                    </div>
                                {% endif %}

                                <!-- Display formset errors here -->
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}

                            </div>
                        {% endfor %}

                        <!-- Add Form -->
                        <div id="add-skill" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(119 14% 42%);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                            </svg>
                            <span style="margin-left: 8px; font-family: Nunito, sans-serif; font-size: 16px; color:black">Add Skill</span>
                        </div>

                    </div>
                </div>
                


                                <!-- Languages Section -->
                {{ language_formset.management_form }}

                <div class="row g-3 align-items-center" style="margin-top: 40px;">
                    <div class="form-control" id="languages-container">
                        <h1 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">Languages</h1>
            
                        {% for form in language_formset %} 
                            <div class="form-control language-formset-row" style="margin-bottom: 20px; margin-bottom: 20px;">
                                <p>{{ form.id }}</p>
                                <p>Language{{ form.language }}</p>

                                <div class="remove-language" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(0 10% 0%);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </div>
                                

                                <!-- Hidden delete checkbox (separately rendered) -->
                                {% if language_formset.can_delete %}
                                    <div style="display:none;">
                                        {{ form.DELETE }}
                                    </div>
                                {% endif %}

                                <!-- Display formset errors here -->
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                            </div>

                        {% endfor %}

                        <!-- Add Form -->
                        <div id="add-language" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(119 14% 42%);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                            </svg>
                            <span style="margin-left: 8px; font-family: Nunito, sans-serif; font-size: 16px; color:black">Add Language</span>
                        </div>
                    </div>
                </div>
                


                                <!-- References Section -->

                {{ reference_formset.management_form }}

                <div class="row g-3 align-items-center" style="margin-top: 40px;">
                    <div class="form-control" id="references-container">
                        <h1 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">References</h1>
            
                        {% for form in reference_formset %}
                            <div class="form-control reference-formset-row" style="margin-bottom: 20px; margin-bottom: 20px;">
                                <p>{{ form.id }}</p>
                                <p>Name{{ form.name }}</p>
                                <p>Company{{ form.company }}</p>  
                                <p>Position{{ form.position }}</p>
                                <p>Email{{ form.email }}</p>
                                <p>Phone Number{{ form.phone_number }}</p>

                                <div class="remove-reference" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(0 10% 0%);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </div>
                                

                                <!-- Hidden delete checkbox (separately rendered) -->
                                {% if reference_formset.can_delete %}
                                    <div style="display:none;">
                                        {{ form.DELETE }}
                                    </div>
                                {% endif %}

                                <!-- Display formset errors here -->
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <!-- Add Form -->
                        <div id="add-reference" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(119 14% 42%);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                            </svg>
                            <span style="margin-left: 8px; font-family: Nunito, sans-serif; font-size: 16px; color:black">Add Reference</span>
                        </div>
                    </div>
                </div>
                



                                <!-- Additional Information Section -->
                {{ additional_info_formset.management_form }}

                <div class="row g-3 align-items-center" style="margin-top: 40px;">
                    <div class="form-control" id="additional-info-container">
                        <h1 style="font-family: Nunito, sans-serif; font-weight: 200; font-style: extralight; font-size: 35px; color: hwb(212 7% 56%);">Additional Information</h1>
            
                        {% for form in additional_info_formset %}
                            <div class="form-control additional-info-formset-row" style="margin-bottom: 20px; margin-bottom: 20px;">
                                <p>{{ form.id }}</p>
                                <p>Additional Information{{ form.additional_information }}</p>

                                <div class="remove-additional-info" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(0 10% 0%);">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                    </svg>
                                </div>
                                

                                <!-- Hidden delete checkbox (separately rendered) -->
                                {% if additional_info_formset.can_delete %}
                                    <div style="display:none;">
                                        {{ form.DELETE }}
                                    </div>
                                {% endif %}

                                <!-- Display formset errors here -->
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ form.non_field_errors }}
                                    </div>
                                {% endif %}

                            </div>
                        {% endfor %}

                        <!-- Add Form -->
                        <div id="add-additional-info" style="cursor: pointer; display: inline-flex; align-items: center; color: hwb(119 14% 42%);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                            </svg>
                            <span style="margin-left: 8px; font-family: Nunito, sans-serif; font-size: 16px; color:black">Add Additional Information</Inp></span>
                        </div>
                    </div>
                </div>
                
                

                <div class="d-grid gap-2" style="padding-top: 20px;">
                    <button type="submit" class="btn btn-dark">Save</button>
                </div>
                

            </form>

            

        </div>
    </div>

{% endblock %}












