{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Edit CV</title>
</head>
<body>
    <h1>Edit CV</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Profile Section -->
        <div>
            <h2>Profile</h2>
            <img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}{{ '/static/images/Blank profile picture.png' }}{% endif %}" alt="Profile Picture" style="width: 150px; height: 150px;">
            
            <!-- Render profile form fields here -->
            <div>
                {{ profile_form.as_p }}
            </div>
        </div>

        <!-- CV Section -->
        <div>
            <h2>CV</h2>
            <div>
                {{ cv_form.as_p }}
            </div>
        </div>

        <button type="submit">Save</button>
    </form>

    <a href="{% url 'candidate_dashboard' %}">Back to Dashboard</a>
</body>
</html>



